.header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.title{
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.group {
    color: white;
    font-size: 30px;
    text-decoration: none;
}